﻿@{
    ViewBag.Title = "users";
}

@model IEnumerable<SessionMVC1212048.Models.Employee>

<div id="body">
    <div id="content">
        
        <h3><strong>BÀI TẬP TUẦN 06</strong></h3>

            @foreach (var item in Model){
            <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.ActionLink("Details", "loadUserByMSSV", new {Ma=item.ID})
        </td>
       </tr>
        
    }
    </div>
    </div>