﻿@model SessionMVC1212048.Models.Employee
@{
    ViewBag.Title = "loadUserByMSSV";
}



        
<div id="body">
    <div id="content">
        <div id="article">
            <h1>MSSV: @Html.DisplayFor(model => model.ID)</h1>
            
            <p>
                HoTen: @Html.DisplayFor(model => model.Name)
            </p>
            <p>
                SDT: @Html.DisplayFor(model => model.phone)
            </p>
            <p>
                Mail: @Html.DisplayFor(model => model.email)
            </p>
       
        
   </div>
    </div>
    </div>
