﻿@model SessionMVC1212048.Models.AccountViewModel1212048
@{
    ViewBag.Title = "login";
}

<div id="body">
    <div id="content">

        @using (Html.BeginForm("SaveSession","users",FormMethod.Post))
        {
            <table cellpadding ="2" cellspacing="2">
                <tr>
                    
                    <td>Username</td>
                    <td>@Html.TextBoxFor(model => model.account.UserName)</td>
                 
                </tr>
                <tr>
                    
                    <td>Password</td>
                    <td>@Html.TextBoxFor(model => model.account.PassWord)</td>
                
                </tr>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                    
                </div>
            </table>
        }
       
        </div>
    </div>